{% extends "layout.html" %}

{% block body %}
<div class="text-center">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h2 class="display-4">{{ customer.first_name }} {{ customer.last_name }}</h2>

                <button id="reveal_form_button" class="btn btn-secondary" onclick="revealCustomerEditForm()">Muokkaa käyttäjän tietoja</button>
                <div id="customer_edit_section" style="display: none">
                    <ul style="list-style-type: none">
                        {% for error in form.first_name.errors %}
                        <li class="alert alert-danger" role="alert">{{ error }}</li>
                        {% endfor %}
            
                        {% for error in form.last_name.errors %}
                        <li class="alert alert-danger" role="alert">{{ error }}</li>
                        {% endfor %}
            
                        {% for error in form.birthday.errors %}
                        <li class="alert alert-danger" role="alert">{{ error }}</li>
                        {% endfor %}
            
                        {% for error in form.balance.errors %}
                        <li class="alert alert-danger" role="alert">{{ error }}</li>
                        {% endfor %}
            
                        {% for error in form.organization_id.errors %}
                        <li class="alert alert-danger" role="alert">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    <form id ="customer_edit_form" method="POST" action="{{ url_for('customers_update', customer_id=customer.id) }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="first_name">{{ form.first_name.label }}</label>
                            {{ form.first_name(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label for="last_name">{{ form.last_name.label }}</label>
                            {{ form.last_name(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label for="birthday">{{ form.birthday.label }}</label>
                            {{ form.birthday(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <label for="balance">{{ form.balance.label }}</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">€</div>
                                </div>
                                {{ form.balance(class_="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="organization_id">{{ form.organization_id.label }}</label>
                            {{ form.organization_id(class_="form-control") }}
                        </div>
                        <button type="submit" class="btn btn-primary">Päivitä tiedot</button>
                    </form>
                    <form id="customer_delete_form" action="{{ url_for('customers_delete', customer_id=customer.id) }}" method="POST">
                        <button style="margin-top:20px;" type="submit" class="btn btn-danger">Poista käyttäjä</button>
                    </form>
                </div>                
            </div>
            {% if block_end_date is none %}
            <ul>
                {% for error in block_form.date_end.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            <div class="col">
                <form id="customer_block_form" method="POST" action="{{ url_for('customers_block', customer_id=customer.id) }}">
                    {{ block_form.hidden_tag() }}
                    <div class="form-group">
                        <label for="date_end">{{ block_form.date_end.label }}</label>
                        {{ block_form.date_end(class_="form-control") }}
                    </div>
                    
                    <button type="submit" class="btn btn-danger">Estä käyttäjä</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="table-responsive">
        <table style="margin-top: 20px;margin-bottom: 20px;" class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Etunimi</th>
                    <th scope="col">Sukunimi</th>
                    <th scope="col">Syntymäpäivä</th>
                    <th scope="col">Järjestö</th>
                    <th scope="col">Piikki</th>
                    <th scope="col">Lempijuoma</th>
                    <th scope="col">Estetty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.birthday }}</td>
                    <td>{{ customer.organization.name }}</td>
                    <td>{{ customer.get_balance_in_euros() }} €</td>
                    <td>{{ customer.get_favorite_drink() }}</td>
                    {% if block_end_date is not none %}
                    <td class="text-danger">{{ block_end_date }}</td>
                    {% else %}
                    <td class="text-success">Ei</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>   
</div>

<!-- PURCHASES HERE -->

<h3 class="display-5">Ostohistoria</h3>

<div class="table-responsive">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Päivä</th>
                <th scope="col">Yhteensä</th>
                <th scope="col">Talletus</th>
                <th scope="col">Olut</th>
                <th scope="col">Lonkero</th>
                <th scope="col">Siideri</th>
                <th scope="col">Alkoholiton</th>
                <th scope="col">Erikoisolut</th>
                <th scope="col">Drinkki</th>
                <th scope="col">Erikoisdrinkki</th>
                <th scope="col">Viski</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders.items %}
            <tr>
                <td>{{ order.date_created }}</td>
                <td>{{ order.get_total_in_euros() }} €</td>
                <td>{{ order.get_deposit_in_euros() }} €</td>
                {% for drink in order.drinks %}
                <td>{{ drink.amount }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 style="margin-bottom: 15px" class="display-5">Sivut</h3>
    {% for page_num in orders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if orders.page == page_num %}
                <a class="btn btn-primary mb-4" href="{{ url_for('customers_details', customer_id=customer.id, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-primary mb-4" href="{{ url_for('customers_details', customer_id=customer.id, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</div>


<!-- SCRIPTS -->
<script>
    const customerBlockForm = document.getElementById('customer_block_form')
    customerBlockForm.onsubmit = function(e){
        const form = this;
        e.preventDefault();
        if(confirm("Haluatko varmasti estää käyttäjän:\n{{ customer.first_name }} {{ customer.last_name }}\n\nEstoa ei voi perua.")) {
            form.submit();
        }
    }
</script>
    
<script>
    const customerDeleteForm = document.getElementById('customer_delete_form')
    customerDeleteForm.onsubmit = function(e){
        const form = this;
        e.preventDefault();
        if(confirm("Haluatko varmasti poistaa käyttäjän:\n{{ customer.first_name }} {{ customer.last_name }}\n\nMikäli poistat henkilön, menetät kaikki henkilön tiedot pysyvästi.")) {
            form.submit();
        }
    }
</script>
<script>
    const customerEditSection = document.getElementById("customer_edit_section")
    window.onload = checkForVisibility;

    function checkForVisibility () {
        if ("{{ visibility }}" === "visible") {
            reveal()
        }
    }

    function reveal() {
        customerEditSection.style.display = "block"
        document.getElementById("reveal_form_button").innerHTML = "Piilota"
    }

    function hide() {
        customerEditSection.style.display = "none"
        document.getElementById("reveal_form_button").innerHTML = "Muokkaa käyttäjän tietoja"
        document.getElementById("customer_edit_form").reset()
    }

    function revealCustomerEditForm() {
        if (customerEditSection.style.display === "none") {
            reveal()
        } else {
            hide()
        }            
    }
</script>
{% endblock %}