{% extends "layout.html" %}

{% block body %}
    <h1>{{ customer.first_name }} {{ customer.last_name }} ({{ customer.birthday }})</h1>

    <h2>{{ customer.organization.name }}</h2>

    <h2>Piikki: {{ customer.get_balance_in_euros() }} €</h2>

    <h3>Luotu: {{ customer.date_created }}</h3>

    <h3>Muokattu: {{ customer.date_modified }}</h3>

    {% if user_block is not none %}
        <h3>Esto loppuu: {{ user_block.date_end }}</h3>
    {% else %}
        <form method="POST" action="{{ url_for('customers_block', customer_id=customer.id) }}">

            <div>
                <label>Eston loppuminen:</label>
                <input type="date" name="date_end" />
            </div>

            <div>
                <input type="submit" value="Estä käyttäjä" />
            </div>
        </form>
    {% endif %}

    <!-- PURCHASES HERE -->
{% endblock %}