{% extends "layout.html" %}

{% block body %}
    <a href="{{ url_for('customers_form') }}">Lisää asiakkaita</a>

    <table>
        <tr>
            <th></th>
            <th>Etunimi</th>
            <th>Sukunimi</th>
            <th>Syntymäpäivä</th>
            <th>Piikki</th>
            <th>Järjestö</th>
        </tr>
        
        {% for customer in customers %}
        <tr>
            <td>
                <a href="{{ url_for('customers_details', customer_id=customer.id) }}">Tiedot</a>
            </td>
            <td>{{ customer.first_name }}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.birthday }}</td>
            <td>{{ customer.get_balance_in_euros() }} €</td>
            <td>{{ customer.organization.name }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}