{% extends "layout.html" %}

{% block body %}
    <div>
        <form method="POST" action="{{ url_for('customers_create')}}">
            <div>
                <label for="first_name">Etunimi:</label>
                <input type="text" name="first_name" />
            </div>

            <div>
                <label for="middle_name">Toinen nimi:</label>
                <input type="text" name="middle_name" />
            </div>

            <div>
                <label for="last_name">Sukunimi:</label>
                <input type="text" name="last_name" />
            </div>

            <div>
                <label for="balance">Piikki:</label>
                <input type="number" name="balance" />
            </div>

            <div>
                <label for="organization_id">Järjestö:</label>
                <select name="organization_id">
                    {% for organization in organizations %}
                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <input type="submit" value="Lisää asiakas" />
            </div>
        </form>
    </div>
{% endblock %}