{% extends "layout.html" %}

{% block body %}
    <div>
        <form method="POST" action="{{ url_for('customers_create') }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.first_name.label }}
                {{ form.first_name }}
                <ul>
                    {% for error in form.first_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ form.last_name.label }}
                {{ form.last_name }}
                <ul>
                    {% for error in form.last_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ form.birthday.label }}
                {{ form.birthday }}
                <ul>
                    {% for error in form.birthday.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
    
            <div>
                {{ form.balance.label }}
                {{ form.balance }}
                <ul>
                    {% for error in form.balance.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                {{ form.organization_id.label }}
                {{ form.organization_id }}
                <ul>
                    {% for error in form.organization_id.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <input type="submit" value="Lisää asiakas" />
            </div>

        </form>
    </div>
{% endblock %}