{% extends "layout.html" %}

{% block body %}
    <div>
        <form method="POST" action="{{ url_for('organizations_create') }}">
            <div>
                {{ form.hidden_tag() }}
                {{ form.name.label }}
                {{ form.name }}
                <ul>
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <input type="submit" value="Lisää järjestö" />
            </div>
        </form>
    </div>
{% endblock %}